@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.iconAndTitle {
  display: flex;

}

.dashboardTitle {
  padding-left:10px ;
  vertical-align: middle;
  line-height: 49px;
  width: 100%
}

.example-full-width {
  width: 100%;
  padding-left: 20%;
}


.hoverhighlight:hover{
  background-color:lightgoldenrodyellow;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  }

//RR
.searchBar{
  flex: 1 1 auto;
  width:60%;
  // width: stretch;
  // padding-left: $padding-left;
 }

.menu-spacer {
    flex: 1 1 auto;
  }
  .gb_5d.gb_3d {
    opacity: .54;
}
.container {
    display: flex; /* or inline-flex */
  }

.toolbarDesign {
  display: flex;
  height: 30%;
  }
  
.mat-menu-item {
  font-size: 10px;
}
//Style ...

.dashboardToolBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  
  
  
  
  .searchToolBar {
  
    display: flex;
    /* //margin: auto; */
    width: 50%;
  }
  
  .searchInputBar {
    border-radius: 25px;
    width: 150%;
    /* // border: none; */
    /* outline: none; */
    padding: 1%;
    border: 2px solid #73AD21;
  }
  
  .mat-toolbar-single-row {
    height: 64px;
  }
  /* 
  // .navListItems {
  //   padding: 10px !important;
  // } */
  
  .accountButton {
    width: 0px;
    height: 0px;
    border: 1px solid;
    border-radius: 0px;
    font-size: x-large;
  
  }
  
  /* // .sideBar {
  //   display: flex;
  //   // width: 0px;
  //   height: 500px;
  // }
  
  // .sideNav{
  //     height: 500px   ;
  // } */
  
  .sidenavBar {
    position: absolute;
    min-width: 300px;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
  }
  
  .sideNavList {
    width: 300px;
    height: 98.6%;
    background-color: #ffffff;
  }
  
  .sideNavListItems,
  .sideNavlistItemsColored {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 300px;
    font-size: 15px;
    padding: 8px;
    background-color: #ffffff;
    color: #5f6368;
    align-items: baseline;
    text-align: left;
  }
  
  .sideNavlistItemsColored {
    background-color: #f8e6af !important;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .sideNavListItems .mat-icon,
  .sideNavlistItemsColored .mat-icon {
    padding-left: 10px;
    padding-right: 25px;
  }
  
  .sideNavListItems:hover {
    background-color: #e6e6e6;
  }
  
  .sidenavContent {
    background-color: rgb(255, 255, 255); 
    /* // max-width: 600px; */
    max-width: -webkit-fill-available;
    margin-left: 200px;
  }
  .center{
  
    margin-top: 5%;
    margin-bottom: auto;
    margin-left:auto;
    margin-right: auto;
    width: 50%; 
    }
    .example-container {
      position: absolute;
      min-width: 250 px;
      top: 80px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: #ffffff;
      }
  
  .noteInputBar {
  
    /* display: flex;
    padding: 1%; 
    border: 2px ;
    width: 40%; */
    width:600px;
    margin:0 auto;
    margin-top: 10px;
    }
  
    .addNoteInput {
      border: none;
      outline: none;
      resize: none;
      width: 575px;
      font-size: 14px;
    
    }
  
    .editLabel
    {
        font-size: 15px;
        left:10cm;
    }
    
    .textSize
    {
      
      /* margin-top: 5%;
      margin-bottom: auto;
      margin-left:20%;
      margin-right: auto;
      width: 100%;  */
      /* padding-right: 25px; */
      /* padding-left: 10px; */
      margin-left:15%;
  
    font-size: 15px;
    color:#5f6368  
    }
    
    //Nav proj


// $font-weight: 500;
// $padding-left:2%;
// $padding:3%;
// $width:100px;
// $border: none;
// $border-top-right-radius: 20px;
// $border-bottom-right-radius: 20px;
// $background:#feefc3;

// .sidenav-container {
//   background-color:$color;
//   height:100%;
//   width:100%;
//   position: fixed;
// }
// .googleKeep{
//   width:31px;
//   height:31px;
//   padding:9px;
// }
// .ico{
//   float:$float;
// }
// .mat-nav-list a.active {
//   @include routerColorActivate;
// }
// .noRouterColorActivate{
//   background:#ffffff;
// }
// .routerColorActivate{
// @include routerColorActivate;
// }
// .titledisplay{
// @include titleDisplay;
// }
// .lab{
//   color: #5f6368;
//   letter-spacing: .07272727em;
//   font-family: $font-family;
//   font-size: .6875rem;
//   font-weight: font-weight;
//   line-height: 1rem;
//   text-transform: uppercase;
// }
// .bulp{
//   @include labelDisplay;
//   padding-left: 12%;
//   font-family: $font-family;
//   font-weight: font-weight;
//   font-size: .875rem;
//   width:$width;
//   letter-spacing: .01785714em;
// }
// .sidenav{
//   width: 230px;
//   margin-top:55px;
//   // overflow: hidden;
// }  
// .mat-drawer.mat-drawer-side {
//   top:0;
// }
// .toolbar
// {
//   box-shadow: $box-shadow;
//   background-color:$color;
//   position: fixed;
//   z-index: 3;
//   display: $display;
// }
// .title-header{
//   padding-left: 1%;
//   color:$blackColor;
//   display:$display;
// }
// .toggle{
//   color: $blackColor;
//   opacity: 0.54;
//   display: $display;
// } 
// .searchBar{
//  flex: 1 1 auto;
//  width:$width;
//  width: stretch;
//  padding-left: $padding-left;
// }
// .material-icons{
//   font-size: 30px;
//   margin-right: 8px;
//   color: $blackColor;
//   opacity: 0.6;
//   display: $display;
// }
// .search{
// @include search;
// outline: $color;
//  border-color: transparent;
//  border:$border;
// }
// .searchNew{
//   padding-left:$padding-left;
// }
// .icons
// {
//  padding-top: 11%;
//  padding-left: $padding-left;
// }
// input:focus
// {
// background-color: $color;
// }
// .profilebutton1{
//   width:$width; 
//   height:100px; 
//   border:$border;
//   border-radius: 50%;
//   background-color: $color;
//   padding: $padding;
// }
// .image{
//  @include image;
// }
// .padding{
//   padding:$padding;
// }
// .changeButton{
//   margin-top: 125%;
// }
// .img{
//   padding-right: 1%;
// }
// .list{
//   margin-top: 3%;
// }


  