<!-- ********************ToolBar Display************************* -->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <div fxLayout="row">
    <mat-toolbar class="example-toolbar">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" fxFlex="18">
        <div>
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxHide.xs="true">
          <img _ngcontent-c1="" alt="fundoo_Logo" class="fundooIcon" src="src/assets/logoFundoo.png"
            style="width:40px;height:40px">
        </div>
        <div class="dashboardTitle">{{headerName}}</div>
      </div>

      <div fxFlex="70" fxLayoutAlign="center">
        <mat-form-field fxShow.gt-xs="true" fxHide.xs="true" appearance="outline" [style.fontSize.px]="2" fxFlex="90">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <input fxFlex="90" type="input" matInput placeholder="Search" [style.fontSize.px]="18" autocomplete="off">
        </mat-form-field>
      </div>

      <div fxFlex="18" fxLayout="row">
        <div>
          <button mat-icon-button matTooltip="Refresh" color="basic" id="refresh" fxHide.xs>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="List View" color="basic" id="grid" (click)="Change()" (click)="grid()"
            (click)="listView()">
            <mat-icon>view_list</mat-icon>
          </button>
        </div>

        <div>
          <div>
            <button mat-icon-button matTooltip="Setting" [matMenuTriggerFor]="settingMenu" color="basic">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #settingMenu="matMenu">
              <button mat-menu-item>Setting</button>
              <button mat-menu-item>Send feedback</button>
              <button mat-menu-item>App downloads</button>
              <button mat-menu-item>Help</button>
              <button mat-menu-item>Keyboard shortcuts</button>
            </mat-menu>
          </div>
        </div>

      </div>

      <div fxLayout="row">
        <div>
          <button mat-icon-button color="basic" matTooltip="Apps">
            <mat-icon>apps</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="Google Account" [matMenuTriggerFor]=accountMenu>
            <mat-icon class="account_circle">account_circle</mat-icon>
          </button>
          <mat-menu #accountMenu="matMenu" class="menuborder">
            <ng-template matMenuContent >
            <mat-card class="example-card">
                <mat-card-header >
                    <div mat-card-avatar class="profile" (click)="ProfileSelect()" >
                      <img mat-card-avatar class="profile" src="http://localhost:8080/user/getimage/{{token}}"/>  
                    </div>
                    <mat-card-title>{{userinfo.name}}</mat-card-title>
                    <mat-card-subtitle>{{userinfo.email}}</mat-card-subtitle>
                </mat-card-header>
              <mat-card-content>
                <button style="float:right" mat-raised-button (click)="signout()">SignOut</button>
               
            </mat-card-content>
            </mat-card>
          </ng-template>
         </mat-menu>
          <!-- <mat-menu #accountMenu="matMenu">           
            <button mat-menu-item (click)="signOut()">Sign out</button>
            <input type="file">
          </mat-menu> -->
        </div>
      </div>
    </mat-toolbar>
  </div>
  <mat-divider></mat-divider>
  <!-- *****************Side Menu Display********************** -->

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="navList">
        <mat-list role="list">
          <div>
            <button mat-button [routerLink]="['addNote']" (click)="headerName='Fundoo Notes'"
              [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
              <mat-icon>lightbulb_outline</mat-icon> Notes
            </button>
          </div>

          <div>
            <button mat-button [routerLink]="['remainder']" (click)="headerName= 'Remainders'"
              [ngClass]="{'sideNavListItems': headerName!='Remainders', 'sideNavlistItemsColored': headerName=='Remainders'}">
              <mat-icon>notifications_none</mat-icon> Remainders
            </button>
          </div>

          <mat-divider></mat-divider>

          <p class="textSize">LABELS</p>

          <div *ngIf="allLabels ? allLabels.length>0: false">
            <div *ngFor="let label of allLabels">
              <button (click)="headerName= label.labelName"
                [ngClass]="{'sideNavListItems': headerName!='Remainders', 'sideNavlistItemsColored': headerName==label.labelName}"
                routerLink="label/{{label.labelName}}" mat-button>
                <!-- routerLink="labels/{{label.labelValue}}" routerLinkActive="active" -->
                <mat-icon>
                  label
                </mat-icon>
                {{label.labelName}}
              </button>
            </div>
          </div>

          <button class="sideNavListItems" mat-button (click)="OpenEditLabel()">
            <mat-icon>edit</mat-icon>
            Edit Labels
          </button>

          <!-- <span style="font-size: 12px;font-family:'Calibri'; margin-left: 20px">
            LABELS
          </span>
          <div *ngIf="labels ? labels.length>0: false">
            <div *ngFor="let label of labels">
              <button mat-raised-button class="menuButton" routerLink="labels/{{label.labelValue}}" routerLinkActive="active">
                <mat-icon style="margin-right:40px;margin-left:20px">
                  label
                </mat-icon>
                {{label.labelValue}}
              </button>
            </div>
          </div>
          <button mat-raised-button class="menuButton" (click)="openLabelDialog()">
            <mat-icon style="margin-right:40px;margin-left:20px">
              create
            </mat-icon>
            Edit Labels
          </button> -->
          <!-- ------ -->
          <mat-divider></mat-divider>

          <div>

            <button mat-button [routerLink]="['archive']" (click)="headerName= 'Archive'"
              [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
              <mat-icon>archive</mat-icon> Archive
            </button>
          </div>
          <div>
            <button mat-button [routerLink]="['trash']" (click)="headerName= 'Trash'"
              [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
              <mat-icon>delete</mat-icon> Trash
            </button>
          </div>
        </mat-list>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>




<!-- *****************Side Menu Display********************** -->

<!-- 
<mat-drawer-container class="example-container">
  <mat-drawer #sidenav mode="side" opened="true">
    
    <div>
      <button mat-button [routerLink]="['addNote']" (click)="headerName='Fundoo Notes'"
        [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
        <mat-icon>lightbulb_outline</mat-icon> Notes
      </button>
    </div>
    
    <div>
      <button mat-button [routerLink]="['remainder']" (click)="headerName= 'Remainders'"
        [ngClass]="{'sideNavListItems': headerName!='Remainders', 'sideNavlistItemsColored': headerName=='Remainders'}">
        <mat-icon>notifications_none</mat-icon> Remainders
      </button>
    </div>

    <mat-divider></mat-divider>

    <p class="textSize">LABELS</p>

    <button class="sideNavListItems" mat-button > -->
<!-- (click)="openDialog()" -->

<!-- <mat-icon>edit</mat-icon> Edit Labels
    </button>
    <mat-divider></mat-divider>
    <div>

      <button mat-button [routerLink]="['archive']" (click)="headerName= 'Archive'"
        [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
        <mat-icon>archive</mat-icon> Archive
      </button>
    </div>
    <div>
      <button mat-button [routerLink]="['trash']" (click)="headerName= 'Trash'"
        [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
        <mat-icon>delete</mat-icon> Trash
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container> -->