
<!-- ********************ToolBar Display************************* -->

<div fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-toolbar color="FFFFFF">
    <div class="iconAndTitle">
      <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Main menu">
        <mat-icon>menu</mat-icon>
      </button>

      <div fxHide.xs="true">
        <img _ngcontent-c1="" alt="fundoo_Logo" class="fundooIcon" src="src/assets/logoFundoo.png"
          style="width:40px;height:40px">
      </div>
      <div class="dashboardTitle">{{headerName}}</div>
    </div>

    <div fxLayoutAlign="start" fxFlex="60%" fxShow="true" fxHide.xs="true" [style.fontSize.%]=65>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput type="text" placeholder="Search">
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxFlex fxLayoutAlign=" center end">
      <button mat-icon-button matTooltip="Refresh">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-icon-button matTooltip="List View">
        <mat-icon>view_list</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="settingsForHeader" matTooltip="Setting">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign=" center end">
      <button mat-icon-button matTooltip="Google Apps">
        <mat-icon>apps</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Google Account">
        <mat-icon class="account_circle">account_circle</mat-icon>
      </button>
    </div>

  </mat-toolbar>
</div>

<mat-menu #settingsForHeader="matMenu">

  <button mat-menu-item (click)="settings()">Settings</button>
  <button mat-menu-item (click)="sendFeedback()">Send FeedBack</button>
  <button mat-menu-item (click)="help()">Help</button>
  <button mat-menu-item (click)="appDownload()">App Download</button>
  <button mat-menu-item (click)="keyboardShortcuts()">Keyboard Shortcut</button>

</mat-menu>

<!-- *****************Side Menu Display********************** -->

<mat-drawer-container class="example-container">
  <mat-drawer #sidenav mode="side" opened="true">
    
    <div>
      <button mat-button [routerLink]="['addNote']" (click)="headerName='Fundoo Notes'"
        [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
        <mat-icon>lightbulb_outline</mat-icon> Notes
      </button>
    </div>
    
    <div>
      <button mat-button [routerLink]="['remainder']" (click)="headerName= 'Remainders'"
        [ngClass]="{'sideNavListItems': headerName!='Remainders', 'sideNavlistItemsColored': headerName=='Remainders'}">
        <mat-icon>notifications_none</mat-icon> Remainders
      </button>
    </div>

    <mat-divider></mat-divider>

    <p class="textSize">LABELS</p>

    <button class="sideNavListItems" mat-button >
        <!-- (click)="openDialog()" -->

      <mat-icon>edit</mat-icon> Edit Labels
    </button>
    <mat-divider></mat-divider>
    <div>

      <button mat-button [routerLink]="['archive']" (click)="headerName= 'Archive'"
        [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
        <mat-icon>archive</mat-icon> Archive
      </button>
    </div>
    <div>
      <button mat-button [routerLink]="['trash']" (click)="headerName= 'Trash'"
        [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
        <mat-icon>delete</mat-icon> Trash
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container>


<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxHide.xs="true">
      <img _ngcontent-c1="" alt="fundoo_Logo" class="fundooIcon" src="src/assets/logoFundoo.png"
        style="width:40px;height:40px">
    </div>
    <div class="dashboardTitle">{{headerName}}</div>

    <div fxLayoutAlign="start" fxFlex="60%" fxShow="true" fxHide.xs="true" [style.fontSize.%]=65>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput type="text" placeholder="Search">
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxFlex fxLayoutAlign=" center end">
      <button mat-icon-button matTooltip="Refresh">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-icon-button matTooltip="List View">
        <mat-icon>view_list</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="settingsForHeader" matTooltip="Setting">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign=" center end">
      <button mat-icon-button matTooltip="Google Apps">
        <mat-icon>apps</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Google Account">
        <mat-icon class="account_circle">account_circle</mat-icon>
      </button>

    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" style="width:25%">
      <mat-nav-list>
        <mat-list>
          <mat-list-item> Notes </mat-list-item>
          <mat-list-item> reminder </mat-list-item>
          <hr>
          LABEL
          <hr>
          <mat-list-item> Edit Label </mat-list-item>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>  -->