<div *ngIf="gridView">
<div fxFlex>
  <div style="margin-top: 2%;">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
      <div *ngFor="let note of allnotes">
        <app-note-bar [noteDetail]=note>

        </app-note-bar>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="!gridView">
    <div fxFlex>
      <div style="margin-top: 2%;">
        <div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
          <div *ngFor="let note of allnotes">
            <app-note-bar [noteDetail]=note>
    
            </app-note-bar>
          </div>
        </div>
      </div>
    </div>
    </div>
  