
<div fxFlex>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 2%">
    <div fxFlex="50">
      <app-add-note></app-add-note>
    </div>
  </div>
  <div *ngIf=showPinned fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2%; margin-left: 12%;">
    <p>PINNED</p>
  </div>

  <div *ngIf="gridView" style="margin-top: 2%;">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
      <div *ngFor="let note of allnotes">
          <!-- <div *ngFor="let note of allnotes | noteFilterPipe:searchedText"> -->

        <div *ngIf=note.isPin>
          <app-note-bar [noteDetail]=note>

          </app-note-bar>
        </div>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center center" *ngIf="!gridView" style="margin-top: 2%;">
    <div fxFlex="50" >

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="15px grid">
      <div *ngFor="let note of allnotes">
        <div *ngIf=note.isPin>
          <app-note-bar [noteDetail]=note>

          </app-note-bar>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div *ngIf=showUnpinned fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2%; margin-left: 12%;">
    <p>OTHERS</p>
  </div>
  <div *ngIf="gridView" style="margin-top: 2%;">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
      <div *ngFor="let note of allnotes">
        <div *ngIf=!note.isPin>
          <app-note-bar [noteDetail]=note>

          </app-note-bar>
        </div>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center center" *ngIf="!gridView" style="margin-top: 2%;">
    <div fxFlex="50" >

    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="15px grid">
      <div *ngFor="let note of allnotes">
        <div *ngIf=!note.isPin>
          <app-note-bar [noteDetail]=note>

          </app-note-bar>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

