<div fxLayoutAlign="center start">
  <app-add-note>

  </app-add-note>

</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
  <!-- flexLayout="row wrap" fxLayoutGap="10px"> -->
  
  <p class="textSize">Pinned:</p>
  <div *ngFor="let note of allnotes">

    <!-- <div *ngIf="!note.archive && !note.trash && note.pin"> -->

      <app-note-bar [noteDetail]=note>

      </app-note-bar>
    <!-- </div> -->
  </div>

</div>


<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
    <!-- flexLayout="row wrap" fxLayoutGap="10px"> -->
    <div *ngIf="allnotes.length>0">
     
    <p class="textSize">others:</p>
  </div>
    <div *ngFor="let note of allnotes">
  
      <div *ngIf="!note.archive && !note.trash  && !note.pin">
  
        <app-note-bar [noteDetail]=note>
  
        </app-note-bar>
      </div>
    </div>
  
</div>