<!-- <div fxLayoutAlign="center">
  Notes in Trash ..
  <app-trash-bar></app-trash-bar>
</div> -->

<!-- <div  fxLayout="row wrap" fxLayoutAlign="start center" fxFlexOffset="200px" fxLayoutGap=" 20px grid" style="overflow: hidden;">
  
    <div *ngFor ="let note of allnotes">
        <app-trash-bar [noteDetail]=note>

        </app-trash-bar>     
    </div>
  </div> -->
 
  <div fxFlex>
      <div  style="margin-top: 2%;">
          <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
              <div *ngFor="let note of allnotes">
                  <div>
                    <app-trash-bar [noteDetail]=note>
              
                    </app-trash-bar>
                  </div>
              </div>
            </div>
            </div>
  </div>
 
  <!-- <div *ngIf=showIconAndLetter>
  <div class="center">
  </div>
  <div class="NotificationIcon">
    <mat-icon style="font-size: 90px">delete</mat-icon>
  </div> -->

 <!-- <div class="textSize">
    <h1> No notes in Trash
    </h1>
  </div>
</div> -->
<!-- <div class="center" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">

  <div *ngFor="let note of allnotes">

    <div *ngIf="note.trash">
      <app-trash-bar [noteDetail]=note></app-trash-bar>
    </div>
  </div>

</div> -->
