// /deep/ .mat-dialog-container {
//     padding: 0 !important;
//     // border-radius: 8px;
//     // overflow: hidden;
//     padding-top: 0 !important; 
//     }

    .x{
        outline: none;
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        border: solid 2px transparent;
        overflow-y: auto; 
    }
    