<!-- <mat-card style="height: 100%">
 <p>Collaborators</p>
  <mat-divider></mat-divider>
  <header>

  </header>
</mat-card> -->


<span mat-dialog-title fxLayout="row">
  Collaborators
</span>
<mat-divider style="margin-top:-10px"></mat-divider>

<div mat-dialog-content fxLayout="column" style="overflow: hidden;">
  <span fxLayout="row">
    <button mat-icon-button class="icon">
      <!-- <mat-icon>person_outline</mat-icon> -->
      <img mat-card-avatar src="http://localhost:8080/user/getcollabuserimage/{{data.user.userId}}" />
    </button>
    <div fxLayout="column">
      <span class="usernameStyle">
        {{data.user.name}}<span style="font-style: italic">(Owner)</span>
      </span>
      <span class="emailStyle">
        {{data.user.email}}
      </span>
    </div>
  </span>

  <div *ngFor="let collabUser of collabUserInfo">
    <span fxLayout="row" style="position: relative;">
      <button mat-icon-button class="icon">
        <img mat-card-avatar src="http://localhost:8080/user/getcollabuserimage/{{collabUser.userId}}" />
      </button>
      <div fxLayout="column">
        <span class="usernameStyle">
          {{collabUser.name}}
        </span>
        <span class="emailStyle">
          {{collabUser.email}}
        </span>
      </div>
      <button mat-icon-button class="closeStyle" (click)="removeCollaborator(collabUser.email)">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </div>
  <span fxLayout="row" style="position: relative;">
    <button mat-icon-button class="icon">
      <mat-icon>person_add</mat-icon>
    </button>
    <input matInput #emailId type="email" [(ngModel)]="collabUserMail"  class="emailStyle"
      placeholder="Person Email to share Note...">
      <!-- (input)="enteredEmail()" -->
    <button mat-icon-button class="closeStyle" (click)="addCollaborator()">
      <mat-icon>done</mat-icon>
    </button>
  </span>
</div>
<div fxLayout="row" fxLayoutAlign="end end" mat-dialog-actions class="buttomStyle" >
  <button mat-raised-button class="actionButton" (click)="cancel" [mat-dialog-close]>Cancel</button>
  <button mat-raised-button class="actionButton" (click)="save()" [mat-dialog-close]>Save</button>
</div>






