
<div class="mainEditArea" *ngIf="!isOpen" [ngStyle]="{'backgroundColor': noteDetail.color}">
  <mat-card>

    <mat-card-title>
      <p>

        {{noteDetail.title}}
      </p>
    </mat-card-title>

    <mat-card-subtitle>
      <p>
        sdflkjshf
        {{noteDetail.description}}
      </p>
    </mat-card-subtitle>

    <mat-card-footer>
      <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="settingsForHeader">
        <mat-icon aria-label="Example icon-button with a heart icon">
          more_vert
        </mat-icon>
      </button>

      <mat-menu #settingsForHeader="matMenu">
        <button mat-menu-item (click)="deleteForever()">Delete forever</button>
        <button mat-menu-item (click)="restoreNote()">Restore Note</button>
      </mat-menu>

    </mat-card-footer>
  </mat-card>
</div>