<div class="bkg-animated">
  <div class="center example-container">
    <mat-card>
      <mat-card-header>
        <!-- card title -->
        <mat-card-title class="header">FUNDOO APP</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="resetForm">
          <mat-form-field class="example-full-width">
            <input matInput placeholder=" Enter new password" formControlName='password' 
            [type]="!hide ? 'password' : 'text'"  required>
            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>

               <mat-error *ngIf="password.invalid">Password is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder=" confirm password" formControlName='confirmpassword'
          [type]="!hide ? 'password' : 'text'"  required>
          <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>

             <mat-error *ngIf="confirmpassword.invalid">PassWord Does Not Match</mat-error>
      </mat-form-field>
      <button style="margin:5px;" mat-raised-button type="button" color="primary"
      [disabled]="!resetForm.valid" (click)=" onResetPassword()" >reset</button>
        </form>
        </mat-card-content>
    </mat-card>  
  </div>
</div>


  <!-- <form [formGroup]="resetPForm">
    <mat-form-field appearance="outline">
      <mat-label class="example-label">Password</mat-label>
      <input matInput placeholder="Enter your password" formControlName="password" [type]="!hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">Password is required</mat-error>
      
      </mat-form-field>

      <mat-form-field appearance="outline">
      <mat-label class="example-label">Confirm </mat-label>
      <input matInput placeholder="Enter your password" formControlName="confirmpassword" [type]="!hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      
      <mat-error *ngIf="confirmpassword.invalid">PassWord Does Not Match</mat-error>
      </mat-form-field> 
      
      <mat-card-actions class="example-button">

  <button [disabled]="!resetForm.valid" mat-button aria-label="Show an example snack-bar" (click)=" onResetPassword()" mat-raised-button class="button-colour">Reset</button>
</mat-card-actions>
  <mat-spinner *ngIf="loading">
  </mat-spinner>
</mat-card-content> -->