.decorate{

  box-shadow: 1px 1px 2px 1px grey;

}
.iconColor{
  opacity: .7;
}
.border{
    padding: 2%;
    border-radius: 10px;
    background-color: whitesmoke;
    opacity: .7;
}

.inputNote{
  border-radius: 10px;
  background: transparent;

}
.addNote {

  margin: 30px auto 0 auto;
  border-color: white;
  box-shadow: 0px 1px 5px;
  vertical-align: middle;
  border-radius: 8px;
  width: 600px;
  padding: 10px;
  opacity: .7;
  }
  .addNoteInputDiv {
    opacity: 0.7;
    margin: auto;
    }

    .addNoteTitleInput{
  
        border: none;
        outline: none;
        resize: none;
        width: 90%;
        font-size: 14px;
        
        
        }

        .pinIcon {
               border: none;
               resize: none;
                outline: none;
                
              }
            
              .addNoteInput {
                border: none;
                outline: none;
                resize: none;
                width: 575px;
                font-size: 14px;
                
                }



// // @import '/home/admin1/final_projects/WorkspaceFundooNotesApp/FundooNotesApp/src/app/styles/material.scss';
// .expansion-example{
//     width:600px;
//     }
//     .field-example{
//     width: 100%;
//     }
//     .menu-overflow-hidden {
//     overflow: hidden !important;
//     }
//     .card-width{
//     width:6008%;
//     height:14%;
//     }
//     .new-card{
//     width:600px;
//     }
//     $mat-card-padding: 16px !default;
//     $mat-card-border-radius: 7px !default;
//     $mat-card-header-size: 40px !default;
    
    
//     .mat-card {
    
//     display: block;
//     position: relative;
//     padding: $mat-card-padding;
//     border-radius: $mat-card-border-radius;}
//     .mat-card-avatar {
//     height: $mat-card-header-size;
//     width: $mat-card-header-size;
//     border-radius: 50%;
//     flex-shrink: 0;
//     // Makes `<img>` tags behave like `background-size: cover`. Not supported
//     // in IE, but we're using it as a progressive enhancement.
//     object-fit: cover;
//     }
//     .changeColor{
//     color: grey;
//     }
//     .alignment{
//     padding-top: 5px;
//     padding-left: 1px;
//     }