<!-- <div class="center">
  
  <mat-card *ngIf=!barshow (click)="fullCardShow()"class="noteCard" style="min-width: 300px; margin:0px">
      Take a note ...
    </mat-card>
    <mat-card *ngIf=barshow>
<mat-card-title>
  
  <textarea class="takeanote" placeholder="Title" [(ngModel)]="note.title" style="margin-left:0px;" matInput
  cdkTextareaAutosize
             #autosize="cdkTextareaAutosize"
             cdkAutosizeMinRows="0"
             cdkAutosizeMaxRows="40"
  ></textarea>
</mat-card-title>
<mat-card-subtitle>
 
       
             <textarea class="takeNote" placeholder="Take a note..." [(ngModel)]="note.description" style="margin-left:0px;" 
             cdkTextareaAutosize
             #autosize="cdkTextareaAutosize"
             cdkAutosizeMinRows="0"
             cdkAutosizeMaxRows="40"
             >
             </textarea>
    
</mat-card-subtitle>
    <mat-card-footer>
      <div fxLayout="row">
        <button mat-icon-button  matTooltip="Remind me"[matMenuTriggerFor]="settingsForRemindMe">
          <mat-icon aria-label="Example icon-button with a heart icon">
            add_alert
          </mat-icon>
        </button>
        <button mat-icon-button  matTooltip="collaborator">
          <mat-icon aria-label="Example icon-button with a heart icon">
            person_add
          </mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menucolor">
          <mat-icon aria-label="Example icon-button with a heart icon">
             palette
          </mat-icon>
       </button>
         <mat-menu #menucolor="matMenu">
           <mat-list>
              <div *ngFor= "let colorx of colors">
                 <span *ngFor="let singlecolor of colorx">
                    <button mat-icon-button (click)="colorchange(singlecolor)">
                    <mat-icon  [style.color]="singlecolor">fiber_manual_record</mat-icon>
                    </button>
                 </span>
           </div>
           </mat-list>
        </mat-menu>  
        <button mat-icon-button  matTooltip="Add Image">
          <mat-icon aria-label="Example icon-button with a heart icon">
            add_photo_alternate
          </mat-icon>
        </button>
        <button mat-icon-button  matTooltip="Archive" (click)=archive()>
          <mat-icon aria-label="Example icon-button with a heart icon">
            archive
          </mat-icon>
        </button>
        <button mat-icon-button  matTooltip="More" [matMenuTriggerFor]="settingsForHeader">
          <mat-icon aria-label="Example icon-button with a heart icon">
            more_vert
          </mat-icon>
        </button>
        <button mat-button (click)="close()" style="left:48%">Close</button>
      </div>
      <div>
      </div>
    </mat-card-footer>
    <mat-menu #settingsForHeader="matMenu">
             
      <button mat-menu-item (click)="addLabel()">Add label</button>
      <button mat-menu-item (click)="addDrawing()" disabled=true>Add Drawing</button>
      <button mat-menu-item (click)="showCheckboxes()">Show Checkboxes</button>
     
    </mat-menu>
    <mat-menu #settingsForRemindMe="matMenu">
      Remainder:       
      <button mat-menu-item (click)="laterToday()">Later Today</button>
      <button mat-menu-item (click)="Tomorrow">Tomorrow</button>
      <button mat-menu-item (click)="nextWeek()">Next Week</button>
      <button mat-menu-item (click)="home()">Home</button>
      <button mat-menu-item (click)="pickDateAndTime()">Pick Date & Time</button>
      <button mat-menu-item (click)="pickPlace()">Pick Place</button>
    </mat-menu>
  </mat-card> -->
  <div *ngIf="!isOpen" class="addNote" (click)="isOpen=true">

    <div class="addNoteInputDiv">Take a note...</div>
  
  </div>
  
  <div *ngIf="isOpen" class="addNote" [ngStyle]="{'backgroundColor': color}">
  
    <div class="addNoteInputDiv">
  
      <textarea [ngStyle]="{'backgroundColor': color}" class="addNoteTitleInput" placeholder="Title" [(ngModel)]="note.title"
        matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="0" cdkAutosizeMaxRows="40"></textarea>
  
      <!-- <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="pin(item)">
  <ng-container *ngIf="pinValue; else elsePinTemplate">
  <svg-icon [src]="pinnedIconSrc"> </svg-icon>
  </ng-container>
  <ng-template #elsePinTemplate>
  <svg-icon [src]="unpinnedIconSrc"> </svg-icon>
  </ng-template>
  </button> -->
      <!-- <button mat-icon-button  (click)="unpinned()"><mat-icon> pin_drop</mat-icon></button> -->
      <button class="pinIcon" (click)=changePin()>
        <img src="https://img.icons8.com/material-outlined/24/000000/pin.png">
      </button>
      <label></label>
      <textarea [ngStyle]="{'backgroundColor': color}" class="addNoteInput" placeholder="Take a note..." [(ngModel)]="note.description"
        matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="0" cdkAutosizeMaxRows="40"></textarea>
  
    </div>
    <div class="addNoteControlIcon">
  
      <button mat-icon-button matTooltip="Remind me" (click)="toggleReminderMenu()" (click)="toggleShowReminder()">
        <mat-icon class="mat-18">notifications
        </mat-icon>
      </button>
  
      <div class="reminderMenu" *ngIf="reminderMenuBool">
  
        <span>Reminder:</span>
        <div>
          <input class="setReminderInput" matInput [matDatepicker]="picker" placeholder="Choose a date" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div>
          <input class="setReminderInput" atp-time-picker placeholder="Set time" value="">
        </div>
        <button mat-button (click)="save()">Set Reminder</button>
      </div>
  
      <button mat-icon-button matTooltip="Collaborator">
        <mat-icon class="mat-18">person_add_outline
        </mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
        <mat-icon class="mat-18">color_lens</mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="Add image">
        <mat-icon class="mat-18">photo</mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="Archive" (click)="archive()">
        <mat-icon class="mat-18">archive</mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu" (click)="openMenu()">
        <mat-icon class="mat-18">more_vert</mat-icon>
      </button>
  
      <button mat-button color="warn" (click)="close()">close</button>
  
    </div>
  
    <!-- </div> -->
  
    <mat-menu #colorMenu="matMenu" class="colorMenu">
  
      <ng-template matMenuContent let-note="note">
  
        <div *ngFor="let color of colorCode">
  
          <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">
  
            <mat-icon class="colorIcons">fiber_manual_record</mat-icon>
  
          </button>
  
        </div>
  
      </ng-template>
  
    </mat-menu>
    <mat-menu #moreMenu="matMenu">
      <div *ngIf="subMenuOpen">
        <button mat-menu-item (click)="menuSub()" *ngIf="!open">Add Label</button>
      </div>
      <div *ngIf="open">
        Label Note
        <div>
          <input placeholder="enter label name">
        </div>
      </div>
    </mat-menu>
    <!-- <mat-menu #moreMenu="matMenu"  >
   
  <mat-toolbar *ngIf="!subMenuOpen" >
            <mat-toolbar-row *ngIf="!subMenuOpen" >
        
        <button  mat-menu-item   (click)="subMenuOpen=true">Add Label</button>
      </mat-toolbar-row>
    
      <mat-toolbar-row  *ngIf="!subMenuOpen">
        <span>Show tick boxes</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">verified_user</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar> 
  <div *ngIf="subMenuOpen" >
        Label Note
        <input placeholder="enter label name">
  </div>
  </mat-menu> -->
  
    <!-- <mat-menu #moreMenu="matMenu"  >
      <mat-toolbar >
       
          <span>Third Line</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">favorite</mat-icon>
          <mat-icon class="example-icon">delete</mat-icon>
        
    </mat-toolbar>
  </mat-menu> -->
    <!-- <div *ngIf="subMenuOpen">
  <mat-menu >
   
      <mat-toolbar>
      <mat-toolbar-row>
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">favorite</mat-icon>
        <mat-icon class="example-icon">delete</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar>
  </mat-menu>
  </div> -->
    <!-- <mat-menu #moreMenu="matMenu" *ngIf="subMenu">
      <mat-toolbar-row>
          <span>Third Line</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">favorite</mat-icon>
          <mat-icon class="example-icon">delete</mat-icon>
        </mat-toolbar-row>
  </mat-menu> -->
    <mat-menu #subMenu="matMenu">
      <!-- <ng-template matMenuContent let-item="item"> -->
      Label Note
      <input matInput placeholder="create new label">
  
      <!-- </ng-template> -->
    </mat-menu>
    <!-- 
    <div *ngIf=showIcon>
    <div class="NotificationIcon" >
    <mat-icon  style="font-size: 90px" >lightbulb_outline</mat-icon>
    
  </div>
  <div class="textSize">
    <h1 >       Notes you add appear here
      </h1>
  </div>
  </div>
  </div> -->
  
  
  
  
  
    <div *ngIf=noteBar>
      <app-note-bar *ngFor="let note of noteBarValue" [noteDetail]=note></app-note-bar>
    </div>
  
  
    <!-- <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content> -->