<div class="bkg-animated">
  <div class="center example-container">
    <mat-card>
      <mat-card-header>
        <!-- card title -->
        <mat-card-title class="header">FUNDOO APP</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <form [formGroup]="forgetPForm">

          <mat-form-field class="example-full-width">
            <input matInput placeholder=" Enter email" formControlName="email" [(ngModel)]="forgetpasswordModel.email"
              type="email" name="email" required>
          </mat-form-field>


          <br>
          <button  style="margin:5px;" mat-raised-button type="button" color="primary" (click)="forgetPassword()"
            [disabled]="!forgetPForm.valid">submit</button>
          
            <button style="margin:10px;" mat-raised-button type="button" color="primary"
            onclick="history.go(-1);">Back</button>
        </form>
        <mat-spinner *ngIf="loading">
        </mat-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>