<div class="noteGrid">
  <mat-card class="inputNote" [ngStyle]="{'backgroundColor': noteDetail.color}">
    <div fxLayout="row">
      <textarea value="{{noteDetail.title}}" class="addNoteInput" placeholder="Take a note..." matInput
        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="0" cdkAutosizeMaxRows="40"
        style="overflow: hidden;" (click)="openEditDialog(noteDetail)"></textarea>
      <div fxFlex fxLayoutAlign="end start" class="inputNote">
        <span class="buttons">
          <button *ngIf="!pinIcon" matTooltip="Pin note" mat-icon-button color="basic" (click)=changePin()>
            <img src="../../../src/assets/pin.svg">
          </button>
          <button *ngIf="pinIcon" matTooltip="UnPin note" mat-icon-button color="basic" (click)="changePin()">
            <img src="../../../src/assets/barpin.svg">
          </button>
        </span>
      </div>
    </div>
    <p></p>

    <mat-card-content>
      <textarea value="{{noteDetail.description}}" class="addNoteInput" matInput cdkTextareaAutosize
        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="0" cdkAutosizeMaxRows="40" style="overflow: hidden;"
        (click)="openEditDialog(noteDetail)"></textarea>

        <div fxLayout="row wrap" style=" margin:10px">
          <mat-chip-list #chipList>
            <div *ngFor="let label of noteDetail.labels">
              <mat-chip class="noteLabels" routerLink="../label/{{label.labelName}}">
                  <!-- routerLink="../labels/{{label.labelValue}}" -->
                {{label.labelName}}
                <button mat-icon-button class="cancleIcon">
                  <mat-icon matChipRemove (click)="removeLabel(label.id, noteDetail.id)"
                    style="margin-top: -18px; margin-left: 20px">close</mat-icon>
                </button>
              </mat-chip>
            </div>
          </mat-chip-list>
        </div>

    </mat-card-content>

    <mat-card-actions class="inputNote">
      <div class="buttons">
        <button mat-icon-button matTooltip="Remind me">
          <img src="../../../assets/remindme.svg" alt="reminder" />
        </button>

        <button mat-icon-button matTooltip="Collaborator">
          <img src="../../../assets/collaborator.svg" alt="collaborator">
        </button>

        <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
          <img src="../../../assets/color.svg" alt="color" />

        </button>

        <button mat-icon-button matTooltip="Add Image">
          <img src="../../../assets/addimage.svg" alt="image" />
        </button>

        <button mat-icon-button matTooltip="Archive" (click)="archiveNote()">
          <img src="../../../assets/archive.svg" alt="archive" />
        </button>
        <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>


















<!-- <div class="noteGrid">
  <div fxLayout="row" fxLayoutAlign="center center">
   <div class="noteGrid" fxLayout="column">
    <mat-card class="inputNote" [ngStyle]="{'backgroundColor': noteDetail.color}">

      <textarea [ngStyle]="{'backgroundColor': noteDetail.color}" class="addNoteTitleInput" placeholder="Title"
        value="{{noteDetail.title}}" (click)="openEditDialog(noteDetail)"></textarea>
      <span class="buttons">
      <button *ngIf="isPin==false" mat-icon-button color="basic" value="=noteDetail.pin" (click)=changePin()>
        <img src="../../../src/assets/pin.svg">
      </button>
      <button *ngIf="isPin==true" mat-icon-button color="basic" (click)="isPin=false">
        <img src="../../../src/assets/barpin.svg">
      </button>
    </span>
      <p></p>

      <mat-card-content>
        <textarea [ngStyle]="{'backgroundColor': noteDetail.color}" class="addNoteInput" placeholder="Take a note..."
          value="{{noteDetail.description}}" (click)="openEditDialog(noteDetail)"></textarea>
      </mat-card-content>

      <mat-card-actions class="buttons">

        <button mat-icon-button matTooltip="Remind me">
          <mat-icon>add_alert
          </mat-icon>
        </button>
        <button mat-icon-button matTooltip="Collaborator">
          <mat-icon>person_add_outline
          </mat-icon>
        </button>
        <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
          <mat-icon>color_lens</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add Image">
          <mat-icon>photo</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Archive" (click)="archive()">
          <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu">
          <mat-icon>more_vert</mat-icon>
        </button> -->
<!-- <button mat-icon-button matTooltip="Undo">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Redo">
            <mat-icon>redo</mat-icon>
          </button> -->
<!-- <button mat-button color="warn" (click)="close()" style="margin-left: 23%;">
            close</button> -->
<!-- </mat-card-actions>
    </mat-card>
  </div>
</div> -->


<!-- <div class="noteBarCenter">

  <div class="addNote" [ngStyle]="{'backgroundColor': noteDetail.color}">
    <div class="addNoteInputDiv">

      <textarea [ngStyle]="{'backgroundColor': noteDetail.color}" class="addNoteTitleInput" value="{{noteDetail.title}}"
        (click)="openEditDialog(noteDetail)"></textarea>
      <button class="pinIcon" (click)=changePin() value="=noteDetail.pin">
        <img src="https://img.icons8.com/material-outlined/24/000000/pin.png">
      </button>
      <label>
      </label>
      <textarea [ngStyle]="{'backgroundColor':noteDetail.color}" class="addNoteInput" value="{{noteDetail.description}}"
        (click)="openEditDialog(noteDetail)"></textarea>
    </div>

    <div class="addNoteControlIcon">

      <button mat-icon-button matTooltip="Remind me">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Collaborator">
        <mat-icon>person_add_outline</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
        <mat-icon>color_lens</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Add image">
        <mat-icon>photo</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Archive" (click)="archive()">
        <mat-icon>archive</mat-icon>
      </button>

      <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

    </div>
  </div>-->




<!-- <mat-menu #colorMenu="matMenu">
      <mat-list>
         <div *ngFor="let colorx of colors" style="overflow: hidden;">
            <span *ngFor="let singlecolor of colorx">
               <button mat-icon-button (click)="colorchange(singlecolor)">
                  <mat-icon style="font-size: 40px" class="colorIcons" [style.color]="singlecolor">fiber_manual_record</mat-icon>
               </button>
            </span>
         </div>
      </mat-list>
    </mat-menu> -->

<mat-menu #colorMenu="matMenu" class="colorMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-note="note">
    <div fxLayout="row wrap" fxLayoutAlign="end
              center" fxFlex="90">
      <div *ngFor="let color of colorCode">
        <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">
          <mat-icon style="font-size: 40px" class="colorIcons">fiber_manual_record</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</mat-menu>

<!-- <mat-menu #moreMenu="matMenu">
  <button mat-menu-item (click)="trashNote()">Move to Trash</button>
</mat-menu> -->




 <!-- <mat-menu #moreMenu="matMenu">
    <button mat-menu-item (click)="trashNote()">Move to Trash</button> -->

    
    <!-- <button mat-menu-item [matMenuTriggerFor]="menulabel">Add Label</button>
               <mat-menu #menulabel="matMenu">
                  <mat-list>
                     <div *ngFor="let label of allLabels">
                        {{label.labelName}} <button (click)="haveThisLabel(label,noteDetail)">Add</button>
                        <button (click)="removeThisLabel(label,noteDetail)">Remove</button> -->
                        <!-- <mat-checkboxb >Check me!</mat-checkbox> -->
                        <!-- {{label.labelName}} <button mat-icon-button (click)="lncheck(label,notedetails)"></button> -->
                     <!-- </div>
                  </mat-list>
               </mat-menu> -->
               <!-- <button mat-menu-item (click)="trashnote()">Move To trash</button>
               <button mat-menu-item (click)="restore()">Restore</button> -->
            <!-- </mat-menu> -->

            <mat-menu #moreMenu="matMenu" (click)="stopPropagation($event);">
              <button mat-menu-item (click)="trashNote()">Move to Trash</button>
            
              <button mat-menu-item [matMenuTriggerFor]="labelMenu">
                Add Label
              </button>
              <mat-menu #labelMenu="matMenu" fxLayout="column" (click)="$event.stopPropagation();">
             <!-- (click)="$event.stopPropagation();" -->
             <span style="font-family: sans-serif; font-size: 15px; margin-left: 10px">
                  Label note
                </span>
                <div fxLayout="row">
                  <input matInput  placeholder="Enter label name"
                    style="font-family: sans-serif; font-size: 12px; margin-bottom:10px;margin-left: 10px" (click)="stopPropagation($event)" (input)="onSearchChange($event.target.value)">
                    <!-- (change)="changeShow()" (input)="onSearchChange($event.target.value)"
                     -->
                  <mat-icon style="zoom:0.7; color: grey; margin-right:10px ">
                    search
                  </mat-icon>
                </div>
                <div style="margin-bottom: 25px; margin-left: 10px">
                  <div *ngFor="let label of allLabels">
                    <mat-checkbox 
                      style="font-family: sans-serif; color: black; zoom:0.8" (click)="$event.stopPropagation()" (change)="addLabelToNote($event, label.id, noteDetail.id)">{{label.labelName}}</mat-checkbox>
                      <!-- (click)="$event.stopPropagation()"
                      (change)="addLabelToNote($event, label.labelId, myNote.note.noteId)" -->
                  </div>
                </div>
                <!-- <div *ngIf="show===true">
                  <button mat-menu-item style="zoom:0.8; position: absolute; bottom: 0;"
                    (click)="createNewLabel($event, myNote.note.noteId, searchLabelValue)">
                    <mat-icon>add</mat-icon>
                    Create label {{searchLabelValue}}
                  </button>
                </div> -->
              </mat-menu>