.inputNote{
  border-radius: 15px;
  background: transparent;
  opacity: .7;
}

.noteGrid:hover .buttons{
  visibility:visible;
}
.buttons{
  visibility: hidden;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color:rgb(136, 133, 133) !important; 
}

.noteLabels
{
  height: 27px;
  margin-right: 10px;
  width:fit-content;
  font-style: "sans-serif";
  background-repeat: round;
  opacity: 1;
  background-color: rgba(188, 190, 190, 0.250);
  zoom:0.8;
}

.cancleIcon
{
  margin-top: 11px;

  // margin-right: 10px;
  // display: none;
}
.showInput
{
  display: none;
}
.hah{
   
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  max-width: 250px;
  margin-bottom: -16px;
  
}
::ng-deep .remainderMenuSize{
  min-width: 300px;
  border-color: transparent;

  // background-color:grey;
}

.chipSize{
  width: 30px;
  zoom: 0.7;
}
.imageStyle{
zoom: 0.5;
// margin-left: -48px;
}
