<div class="noteBarCenter">

  <div class="addNote"  [ngStyle]="{'backgroundColor': noteDetail.color}">
    <div class="addNoteInputDiv">

      <textarea [ngStyle]="{'backgroundColor': noteDetail.color}" class="addNoteTitleInput" value="{{noteDetail.title}}" (click)="openEditDialog(noteDetail)"></textarea>
      <button class="pinIcon" (click)=changePin() value="=noteDetail.pin">
        <img src="https://img.icons8.com/material-outlined/24/000000/pin.png">
      </button>
      <label></label>
      <textarea [ngStyle]="{'backgroundColor':noteDetail.color}" class="addNoteInput" value="{{noteDetail.description}}" (click)="openEditDialog(noteDetail)"></textarea>

    </div>
  
  <div class="addNoteControlIcon">

    <button mat-icon-button matTooltip="Remind me" (click)="toggleReminderMenu()" (click)="toggleShowReminder()">
      <mat-icon class="mat-18">notifications
      </mat-icon>
    </button>

    <div class="reminderMenu" *ngIf="reminderMenuBool">

      <span>Reminder:</span>
      <div>
        <input class="setReminderInput" matInput [matDatepicker]="picker" placeholder="Choose a date" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div>
        <input class="setReminderInput" atp-time-picker placeholder="Set time" value="">
      </div>
      <button mat-button (click)="save()">Set Reminder</button>
    </div>

    <button mat-icon-button matTooltip="Collaborator">
      <mat-icon class="mat-18">person_add_outline
      </mat-icon>
    </button>

    <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
      <mat-icon class="mat-18">color_lens</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Add image">
      <mat-icon class="mat-18">photo</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Archive" (click)="archive()">
      <mat-icon class="mat-18">archive</mat-icon>
    </button>

    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="settingsForHeader" (click)="openMenu()">
      <mat-icon class="mat-18">more_vert</mat-icon>
    </button>



  </div>
</div>
  <mat-menu #settingsForHeader="matMenu">
    <button mat-menu-item (click)="deleteNote()">Delete Note</button>
    <button mat-menu-item (click)="addLabel()">Add label</button>
    <button mat-menu-item (click)="addDrawing()" disabled=true>Add Drawing</button>
    <button mat-menu-item (click)="makeCopy()">Make a copy</button>
    <button mat-menu-item (click)="showCheckboxes()">Show Checkboxes</button>
    <button mat-menu-item (click)="copyToGoogleDocs()">Copy to</button>



  </mat-menu>
  <mat-menu #colorMenu="matMenu" class="colorMenu">

    <ng-template matMenuContent let-note="note">

      <div *ngFor="let color of colorCode">

        <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">

          <mat-icon class="colorIcons">fiber_manual_record</mat-icon>

        </button>

      </div>

    </ng-template>

  </mat-menu>

  <mat-menu #settingsForRemindMe="matMenu">
    Remainder:
    <button mat-menu-item (click)="laterToday()">Later Today</button>
    <button mat-menu-item (click)="Tomorrow">Tomorrow</button>
    <button mat-menu-item (click)="nextWeek()">Next Week</button>
    <button mat-menu-item (click)="home()">Home</button>
    <button mat-menu-item (click)="pickDateAndTime()">Pick Date & Time</button>
    <button mat-menu-item (click)="pickPlace()">Pick Place</button>
  </mat-menu>





  <!-- <mat-card [ngStyle]="{'backgroundColor': noteDetail.color}" >
  <mat-card-header>
  <mat-card-title (click)="openEditDialog(noteDetail)"> -->
  <!-- <input matInput class="takeanote" [(ngModel)]="note.title" placeholder="title" id="title"  style="margin-left:0px;" > </mat-card-title> -->
  <!--   
    <textarea class="takeanote" placeholder="Title" [(ngModel)]="note.title" value="hi" style="margin-left:0px;" matInput
    cdkTextareaAutosize
               #autosize="cdkTextareaAutosize"
               cdkAutosizeMinRows="0"
               cdkAutosizeMaxRows="40"
    ></textarea> -->
  <!-- {{noteDetail.title}} -->
  <!--     
    <button class="pinIcon" (click)=changePin()>
      <img src="https://img.icons8.com/material-outlined/24/000000/pin.png">
    </button> -->

  <!-- <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="pinOption(item)">
    <ng-container *ngIf="pinOption; else elsePinTemplate">
    <svg-icon [src]="pinnedIconSrc"> </svg-icon>
    </ng-container>
    <ng-template #elsePinTemplate>
    <svg-icon [src]="unpinnedIconSrc"> </svg-icon>
    </ng-template>
    </button> -->

  <!-- </mat-card-title>
</mat-card-header>
  
  <mat-card-subtitle (click)="openEditDialog(noteDetail)"> -->
  <!-- <input matInput class="inputclass" [(ngModel)]="note.description" placeholder="take a note...." id="description" required> -->

  <!-- <div aria-placeholder="take a note...." contenteditable="true" role="textbox" class="takeanote" >
    </div> -->

  <!-- <textarea class="takeNote" placeholder="Take a note..." [(ngModel)]="note.description" style="margin-left:0px;" 
               cdkTextareaAutosize
               #autosize="cdkTextareaAutosize"
               cdkAutosizeMinRows="0"
               cdkAutosizeMaxRows="40"
               >
               </textarea> -->
  <!-- <p>
                 {{noteDetail.description}}
               </p> -->
  <!-- <textarea  class="inputDiv" [ngStyle]="{'backgroundColor': noteDetail.color}" value={{noteDetail.description}}   matInput
cdkTextareaAutosize
           #autosize="cdkTextareaAutosize"
           cdkAutosizeMinRows="0"
           cdkAutosizeMaxRows="40"></textarea>
  </mat-card-subtitle> -->
  <!-- 
  <mat-card-footer>
    <div fxLayout="row">
      <button mat-icon-button  matTooltip="Remind me"[matMenuTriggerFor]="settingsForRemindMe">
        <mat-icon aria-label="Example icon-button with a heart icon">
          add_alert
        </mat-icon>
      </button>
      <button mat-icon-button  matTooltip="collaborator">
        <mat-icon aria-label="Example icon-button with a heart icon">
          person_add
        </mat-icon>
      </button>
      <button mat-icon-button  matTooltip="Change color"  [matMenuTriggerFor]="colorMenu">
        <mat-icon aria-label="Example icon-button with a heart icon">
          palette
        </mat-icon>
      </button>
      <button mat-icon-button  matTooltip="Add Image">
        <mat-icon aria-label="Example icon-button with a heart icon">
          add_photo_alternate
        </mat-icon>
      </button>
      <button *ngIf=archiveShow (click)="archive()" mat-icon-button  matTooltip="Archive">
        <mat-icon aria-label="Example icon-button with a heart icon">
          archive
        </mat-icon>
      </button>
      <button *ngIf=unarchiveShow (click)=archive() mat-icon-button  matTooltip="Unarchive">
        <mat-icon aria-label="Example icon-button with a heart icon">
          archive
        </mat-icon>
      </button>
      <button mat-icon-button  matTooltip="More" [matMenuTriggerFor]="settingsForHeader">
        <mat-icon aria-label="Example icon-button with a heart icon">
          more_vert
        </mat-icon>
      </button>
    
    </div>
   
  </mat-card-footer> -->