.inputNote{
  border-radius: 15px;
  background: transparent;
  opacity: .7;
}
.buttons{
  display: none;
}
.noteGrid:hover .buttons, .buttons:hover{

  display: inline-block;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color:rgb(136, 133, 133) !important; 
}

.noteLabels
{
  height: 27px;
  margin-right: 10px;
  width:fit-content;
  font-style: "sans-serif";
  background-repeat: round;
  opacity: 1;
  background-color: rgba(188, 190, 190, 0.250);
  zoom:0.8;
}

.cancleIcon
{
  margin-top: 11px;

  // margin-right: 10px;
  // display: none;
}
.showInput
{
  display: none;
}
.hah{
   
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  max-width: 250px;
  margin-bottom: -16px;
  
}
// .takeanote{
//     resize: unset;
//  border:none;
// outline: none;
// outline-style: none;
// box-shadow: none;
// border-color: transparent;
// border: solid 0px transparent;
// scale:none;
// max-height: 400px;
// overflow-y: auto; 
// width: 100%
// }
// .takeNote{
//     resize: unset;
//     border:none;
//    outline: none;
//    outline-style: none;
//    box-shadow: none;
//    border-color: transparent;
//    border: solid 0px transparent;
//    scale:none;
//    max-height: 400px;
//    overflow-y: auto; 
//    width: 100%
//   }
//   .center{
//     margin-top: 20%;
//     margin-bottom: auto;
//     margin-left:auto;
//     margin-right: auto;
//     width: 20%; 
//   }
//   .noteBarCenter
// {
//   margin-top: 1%;
//   margin-bottom: auto; 
//   margin-left:5%;
//   margin-right: auto;
//   width: 25%; 
// }
// .inputDiv {

//   border: none;
//   outline: none;
//   resize: none;
//   width:100%;
// }
// .pinIcon {
//   /*   
//     height: 10px;
//     margin-left: auto;
//      */
//      margin-left: 20%;

//      border: none;
//      outline : none
//     }

//   .addNoteInput {
//     border: none;
//     outline: none;
//     resize: none;
//     width: 200px;
//     font-size: 14px;
    
//     }
//     .addNoteTitleInput{
  
//       border: none;
//       outline: none;
//       resize: none;
//       width: 60%;
//       font-size: 14px;
      
      
//       }


//   .addNoteInputDiv {
//     opacity: 0.7;
//     margin: auto;
//     }



// .addNote {
//   margin: 9px auto 0 auto;
//   border-color: white;
//   box-shadow: 0px 1px 5px;
//   vertical-align: middle;
//   border-radius: 8px;
//   width: 300px;
//   padding: 10px;
//   opacity: .7;
//   }
  